body {margin: 0;}

ul.mynav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.mynav li {float: left;}

ul.mynav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.mynav li a:hover:not(.active) {background-color: #111;}

ul.mynav li a.active {background-color: #4CAF50;}

ul.mynav li.right {float: right;}

/* .content {
  background-image: url("/images/MainBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 } */

@media screen and (max-width: 600px) {
  ul.mynav li.right, 
  ul.mynav li {float: none;}
}